<header id="header">
    <h2>{{#linkTo "index"}}HOME{{/linkTo}}</h2>
    <nav>
        <ul>
            <li>{{#linkTo "books"}}Books{{/linkTo}}</li>
            <li>{{#linkTo "todos"}}Todos{{/linkTo}}</li>
        </ul>
    </nav>
</header>
<div id="content">
{{books_outlet}}
{{outlet}}
</div>
